@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Gilroy-Medium', sans-serif;
}

::selection {
    color: #515709;
    background: #fffceb;
}